{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <title></title>
</head>

<body>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"><a
                    href="#">بازیابی رمز عبور برای پزشکان</a></label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% for field in form %}
                        <div class="group">
                            <label for="{{ field.id_for_label }}" class="label">{{ field.label_tag }}</label>
                            {{ field }}
                            {% if field.errors %}
                            {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="group">
                            <input type="submit" class="button" value="بازیابی رمز عبور">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="{% url 'home' %}">بازگشت به خانه</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>