{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <title></title>
</head>

<body>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab"><a href="#">رمز عبور با موفقیت تغییر یافت</a></label>
            <div class="login-form">
                <div class="sign-up-htm">
                    <div class="foot-lnk">
                        <a href="{% url 'home' %}">بازگشت به خانه</a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>