{% extends 'base/dashboard_base.html' %}
{% load static %}

{% block style %}
<link type="text/css" rel="stylesheet" href="{% static 'dist/jalalidatepicker.min.css' %}" />
<script type="text/javascript" src="{% static 'dist/jalalidatepicker.min.js' %}"></script>
{% endblock %}

{% block title %}
ایجاد نوبت جدید
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
    <ul>
        <li><a href="{% url 'dashboard' %}">داشبورد</a></li>
        <li><a href="{% url 'doctor_appointment_list' %}">نوبت های من</a></li>
        <li><a href="{% url 'add_appointment' %}" class="is-active">ایجاد نوبت جدید</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="tab__box">
        <div class="tab__items">
            <a class="tab__item" href="{% url 'doctor_appointment_list' %}">لیست نوبت ها</a>
            <a class="tab__item" href="{% url 'doctor_appointment_list' %}?status=رزرو شده">نوبت های رزرو شده</a>
            <a class="tab__item" href="{% url 'doctor_appointment_list' %}?status=آزاد">نوبت های آزاد</a>
            <a class="tab__item" href="{% url 'add_appointment' %}">ایجاد نوبت جدید</a>
        </div>
    </div>
    <div class="user-info bg-white padding-30 font-size-13">
        <form method="post"> {% csrf_token %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
            {% endif %}
            <label>تاریخ نوبت:</label>
            <input data-jdp name="date" class="text" autocomplete="off">
            {% if form.date.errors %}
            {% for error in form.date.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
            {% endif %}
            <label for="{{ form.start_time.id_for_label }}">ساعت نوبت: am به معنای قبل از ظهر و pm به معنای بعد از ظهر</label>
            <input type="time" name="start_time" class="text">
            {% if form.start_time.errors %}
            {% for error in form.start_time.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
            {% endif %}
            <br>
            <br>
            <button class="btn btn-netcopy_net">ذخیره نوبت</button>
        </form>
    </div>
</div>

<script>
    jalaliDatepicker.startWatch();
</script>
{% endblock %}