{% extends 'base/base.html' %}
{% load static %}

{% block style %}
<link type="text/css" rel="stylesheet" href="{% static 'dist/jalalidatepicker.min.css' %}" />
<script type="text/javascript" src="{% static 'dist/jalalidatepicker.min.js' %}"></script>
{% endblock %}

{% block title %}
جستجو مشاوره
{% endblock %}

{% block appointment %}
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">مشاوره بگیرید</h5>
                    <h1 class="display-4">به راحتی برای خود و خانواده تان مشاوره بگیرید.</h1>
                </div>
                <p class="mb-5">توجه داشته باشید فرم مقابل صرفا برای راحتی و سرعت بخشیدن به فرایند جستجو مشاوره ایجاد شده است بنابراین با توجه به نیاز خود، مشاوره ها را فیلتر کنید. لازم به پرکردن همه فیلد ها نیست. قبل از تکمیل نهایی فرایند دریافت مشاوره حتما <a href="{% url 'comprehensive_rule' %}">قوانین و مقررات</a> را مطالعه کنید.</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="{% url 'appointments' %}">نوبت بگیرید</a>
                <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="{% url 'FAQ' %}">سوالات متداول</a>
            </div>
            <div class="col-lg-6">
                <div class="bg-light text-center rounded p-5">
                    <h1 class="mb-4">مشاوره ها را فیلتر کنید</h1>
                    <form method="get"> {% csrf_token %}
                        <div class="row g-3">

                            <div class="col-12 col-sm-6">
                                <select name="specialty" class="form-select bg-white border-0" style="height: 55px;">
                                    <option value="" selected>تخصص</option>
                                    {% for key, value in expertise_choices.items %}
                                    <option value="{{ key }}" {% if request.GET.specialty == key %}selected{% endif %}>
                                        {{ value }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input data-jdp name="date" type="text" value="{{ request.GET.date }}" class="form-control bg-white border-0" placeholder="تاریخ" style="height: 55px;" autocomplete="off">
                            </div>
                            <div class="col-12">
                                <input type="text" name="q" value="{{ request.GET.q }}" class="form-control bg-white border-0" placeholder="نام پزشک" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">جستجو و فیلتر</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
        {% if consultations %}
            {% for consultation in consultations %}
            <div class="col-lg-6 team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="{{ consultation.doctor.profile_image.url }}" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3><a href="{% url 'doctor' consultation.doctor.id %}" style="color: #1D2A4D;">{{ consultation.doctor.get_full_name }}</a></h3>
                            <h6 class="fw-normal fst text-primary mb-4">
                                <a href="{% url 'doctors' %}?specialty={{consultation.doctor.doctorprofile.expertise}}">
                                    {{ consultation.doctor.doctorprofile.get_expertise_display }}
                                </a>
                            </h6>
                            <p class="m-0">شما میتوانید از این پزشک در تاریخ <span style="color: blue; font-weight: bold;">{{ consultation.date }}</span> ساعت <span style="color: blue; font-weight: bold;">{{ consultation.start_time }}</span> مشاوره دریافت کنید.</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary ms-3" style="font-size: medium;" href="{% url 'doctors' %}?city={{consultation.doctor.doctorprofile.city}}">
                                <i class="fa fa-map-marker" style="margin-left: 5px;"></i>
                                {{ consultation.doctor.doctorprofile.get_city_display }}
                            </a>
                            <a class="btn btn-lg btn-primary ms-3" style="font-size: medium;" href="{% url 'take_consultation' consultation.id %}">
                                <i class="" style="margin-left: 5px;"></i>
                                مشاوره بگیرید
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3 style="text-align: center;">مشاوره آزادی با مشخصات مدنظر شما یافت نشد :(</h3>
            {% endif %}
            <div class="page">
                {% if page_obj.has_previous %}
                    <a href="{% url 'consultations' %}?page={{ page_obj.previous_page_number }}">
                        <div class="ago">
                            <p>قبلی</p>
                        </div>
                    </a>
                    {% if page_obj.number > 3 %}
                        <a href="{% url 'consultations' %}?page=1" class="number">1</a>
                        {% if page_obj.number > 4 %}
                            <span class="number">...</span>
                        {% endif %}
                    {% endif %}
                {% endif %}
            
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="{% url 'consultations' %}?page={{ num }}" class="number">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
                        <a href="{% url 'consultations' %}?page={{ num }}" class="number">{{ num }}</a>
                    {% endif %}
                {% endfor %}
            
                {% if page_obj.has_next %}
                    {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                        <span class="number">...</span>
                        <a href="{% url 'consultations' %}?page={{ page_obj.paginator.num_pages }}" class="number">{{ page_obj.paginator.num_pages }}</a>
                    {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %} 
                        <a href="{% url 'consultations' %}?page={{ page_obj.paginator.num_pages }}" class="number">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
            
                    <a href="{% url 'consultations' %}?page={{ page_obj.next_page_number }}">
                        <div class="next">
                            <p>بعدی</p>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    jalaliDatepicker.startWatch();
</script>
{% endblock %}