{% extends 'base/base.html' %}
{% load static %}

{% block title %}
ارتباط با ما
{% endblock %}

{% block contact %}
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">سوالی دارید؟</h5>
            <h1 class="display-4">از طریق راه های زیر در ارتباط باشید</h1>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 200px;">
                    <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(-15deg);">
                        <i class="fa fa-2x fa-phone text-white" style="transform: rotate(15deg);"></i>
                    </div>
                    <h6 class="mb-0">۰۹۱۴۴۹۴۷۳۱۰</h6>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 200px;">
                    <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(-15deg);">
                        <i class="fa fa-2x fa-envelope text-white" style="transform: rotate(15deg);"></i>
                    </div>
                    <h6 class="mb-0">mahdihealth@gmail.com</h6>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="bg-white rounded p-5 m-5 mb-0">
                    <form method="post"> {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input name="name" type="text" class="form-control bg-light border-0" placeholder="نام شما" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input name="email" type="email" class="form-control bg-light border-0" placeholder="ایمیل شما" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input name="subject" type="text" class="form-control bg-light border-0" placeholder="عنوان" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control bg-light border-0" rows="5" placeholder="متن پیام"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">ارسال پیام</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}